/*------------------------------------*\
	#OVERRIDE STLES
	This style sheet can be used for two different functions:
	1. Override specific Bootstrap styles.
	2. Add your own styles.
\*------------------------------------*/

/**
 * Padding-top is required if using .navbar-fixed-top.
 * This can be removed Remove if using .navbar-static-top.
 * The height may need to be changed if the height of you
 * navigation changes.
*/

body { padding-top: 70px; }



/**
 * Bootstrap requires a containing element to wrap site contents 
 * and house the grid system. You may choose one of two containers.
 * Use .container for a responsive fixed width container.
 * Use .container-fluid for a full width container.

 * If using container-fluid, you may need to set a maximum width, 
 * so that the container will not spread to the entire viewport.
*/

.container-fluid { max-width: 1200px; }



/**
 * Bootstrap sets the HTML element to 10px and the body element
 * to 14px. These measurements do not scale, so all sizes can
 * be reset using em units.
*/

html,
body
{
	font-size: 1em; /* 16px/16px = 1em */
	line-height: 1.5; /* 24px/16px = 1.5 */
}

.h1,
h1
{
	margin: .666667em 0; /* 24px/36px = .67em */
	font-size: 2.25em; /* 36px/16px = 2.25em */
}

.h2, 
h2
{
	margin: .666667em 0 .533333em; /* 20px/30px = .666667em - 16px/30px = .533333em */
	font-size: 1.875em; /* 30px/16px = 1.875em */
}

.h3, 
h3
{
	margin: .833333em 0 .666667em; /* 20px/24px = .833333em - 16px/24px = .666667em */
	font-size: 1.5em; /* 24px/16px = 1.5em */
}

.h4, 
h4
{
	margin: 1em 0 .8em; /* 20px/20px = 1em - 16px/20px = .8em */
	font-size: 1.25em; /* 20px/16px = 1.5em */
}

.h5, 
h5
{
	margin: 1.25em 0 1em; /* 20px/16px = 1.25em - 16px/16px = 1em */
	font-size: 1em; /* 16px/16px = 1em */
}

.h6, 
h6
{
	margin: 1.428571em 0 1.142857em; /* 20px/14px = 1.428571em - 16px/14px = 1.142857em */
	font-size: .875em; /* 14px/16px = .875em */
}

p,
ol,
ul,
dl,
table { margin-bottom: 1.25em; /* 20px/16px = 1.25em */ }

blockquote 
{
	padding: .555556em 1.111111em; /* 10px/18px = .555556em - 20px/18px = 1.111111em */
	margin: 0 0 1.111111em; /* 20px/18px = 1.111111em */
	font-size: 1.125em; /* 18px/16px = 1.125em */
}

caption
{
	padding-top: .5em; /* 8px/16px = .5em */
	padding-bottom: .5em; /* 8px/16px = .5em */
}

.lead
{
	margin-bottom: 1em; /* 20px/20px = 1em */
	font-size: 1.25em; /* 20px/16px = 1.25em */
}

.navbar-brand {	font-size: 1.125em; /* 18px/16px = 1.125em */ }
.navbar-nav > li > a  { font-size: .875em;  /* 14px/16px = .875em */ }

/*Animated logo*/

.cssload-box-loading {
	width: 27px;
	height: 27px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.cssload-box-loading:before {
	content: '';
	width: 27px;
	height: 3px;
	background: rgb(0,0,0);
	opacity: 0.1;
	position: absolute;
	top: 32px;
	left: 0;
	border-radius: 50%;
	animation: shadow 0.58s linear infinite;
		-o-animation: shadow 0.58s linear infinite;
		-ms-animation: shadow 0.58s linear infinite;
		-webkit-animation: shadow 0.58s linear infinite;
		-moz-animation: shadow 0.58s linear infinite;
}
.cssload-box-loading:after {
	content: '';
	width: 27px;
	height: 27px;
	background: rgb(247,247,247);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 2px;
	animation: cssload-animate 0.58s linear infinite;
		-o-animation: cssload-animate 0.58s linear infinite;
		-ms-animation: cssload-animate 0.58s linear infinite;
		-webkit-animation: cssload-animate 0.58s linear infinite;
		-moz-animation: cssload-animate 0.58s linear infinite;
}



@keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 2px;
	}
	25% {
		transform: translateY(5px) rotate(22.5deg);
	}
	50% {
		transform: translateY(10px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 22px;
	}
	75% {
		transform: translateY(5px) rotate(67.5deg);
	}
	100% {
		transform: translateY(0) rotate(90deg);
	}
}

@-o-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 2px;
	}
	25% {
		-o-transform: translateY(5px) rotate(22.5deg);
	}
	50% {
		-o-transform: translateY(10px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 22px;
	}
	75% {
		-o-transform: translateY(5px) rotate(67.5deg);
	}
	100% {
		-o-transform: translateY(0) rotate(90deg);
	}
}

@-ms-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 2px;
	}
	25% {
		-ms-transform: translateY(5px) rotate(22.5deg);
	}
	50% {
		-ms-transform: translateY(10px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 22px;
	}
	75% {
		-ms-transform: translateY(5px) rotate(67.5deg);
	}
	100% {
		-ms-transform: translateY(0) rotate(90deg);
	}
}

@-webkit-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 2px;
	}
	25% {
		-webkit-transform: translateY(5px) rotate(22.5deg);
	}
	50% {
		-webkit-transform: translateY(10px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 22px;
	}
	75% {
		-webkit-transform: translateY(5px) rotate(67.5deg);
	}
	100% {
		-webkit-transform: translateY(0) rotate(90deg);
	}
}

@-moz-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 2px;
	}
	25% {
		-moz-transform: translateY(5px) rotate(22.5deg);
	}
	50% {
		-moz-transform: translateY(10px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 22px;
	}
	75% {
		-moz-transform: translateY(5px) rotate(67.5deg);
	}
	100% {
		-moz-transform: translateY(0) rotate(90deg);
	}
}

@keyframes shadow {
	0%,
	100% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.2, 1);
	}
}

@-o-keyframes shadow {
	0%,
	100% {
		-o-transform: scale(1, 1);
	}
	50% {
		-o-transform: scale(1.2, 1);
	}
}

@-ms-keyframes shadow {
	0%,
	100% {
		-ms-transform: scale(1, 1);
	}
	50% {
		-ms-transform: scale(1.2, 1);
	}
}

@-webkit-keyframes shadow {
	0%,
	100% {
		-webkit-transform: scale(1, 1);
	}
	50% {
		-webkit-transform: scale(1.2, 1);
	}
}

@-moz-keyframes shadow {
	0%,
	100% {
		-moz-transform: scale(1, 1);
	}
	50% {
		-moz-transform: scale(1.2, 1);
	}
}

/**
 * Larger font-sizes can be set for different breakpoints
*/

@media (min-width: 768px)
{
	html,
	body
	{
		font-size: 18px;
		line-height: 1.5;
	}
}

@media (min-width: 992px)
{
	html,
	body
	{
		font-size: 20px;
		line-height: 1.5;
	}
}

@media (min-width: 1200px)
{
	html,
	body
	{
		font-size: 21px;
		line-height: 1.5;
	}
}

